define SELF_IP = {{ .ip }};
define SELF_AS = {{ .asn }};
define TABLE = {{ .table }};

define INTERNET = [ 0.0.0.0/0, 0.0.0.0/1, 128.0.0.0/1 ];

router id SELF_IP;

{{if .confed_as}}
define CONFED_AS = {{ .confed_as }};
confederation CONFED_AS;
confederation member {{ .confed_members }};
{{end}}

protocol device {
    scan time 10;
}

protocol kernel kernel_v4 {
    ipv4 {
        export filter {
            # Force Linux to use this source IP
            krt_prefsrc = SELF_IP;
            if source ~ [ RTS_BGP, RTS_STATIC ] then accept;
            reject;
        };
        import none;
    };
    kernel table TABLE;
}

{{range .routes}}
protocol kernel kernel_{{ .table}} {
    learn;
    kernel table {{.table}};
    ipv4 {
        # implicitly uses table master4
        import filter {
            # sanity check: reject internet routes
            if net ~ INTERNET then reject;
            {{range .prefixes}}
            if net ~ {{.}} then accept;
            {{end}}
            reject;
        };
        export none;
    };
}
{{end}}

# easy42 network use ipv4 only but DN42 or other networks may export ipv6
protocol kernel kernel_v6 {
    ipv6 {
        export filter {
            if source ~ [ RTS_BGP ] then accept;
            reject;
        };
        import none;
    };
    kernel table TABLE;
}

protocol static static_self {
    ipv4;
    route {{ .ip }}/32 reject;
}

{{if .static_routes}}
protocol static static_v4 {
    ipv4;
    {{range .static_routes}}
    # reject is strictly local (kernel) only. It generates "unreachable" kernel routing table
    route {{.}} reject;
    {{end}}
}
{{end}}

template bgp easy42_peer {
    # Required for link-local peering
    direct; 
    ipv4 {
        # This tells Bird to send IPv4 routes over the IPv6 session
        extended next hop on;
        next hop self;
        
        import all; 
        export filter {
            if net ~ INTERNET then reject;
            accept;
        };
    };
    ipv6 {
        next hop self;
        import all;
        export all;
    };
}

{{if .has_external_links}}
define EXT_IMPORT_V4 = {{ .ext_import_v4 }};
define EXT_IMPORT_V6 = {{ .ext_import_v6 }};
define EXT_EXPORT_V4 = {{ .ext_export_v4 }};
define EXT_EXPORT_V6 = {{ .ext_export_v6 }};

template bgp external_peer {
    direct;
    ipv4 {
        extended next hop on;
        next hop self;
        import filter {
            if net ~ INTERNET then reject;
            if net ~ EXT_IMPORT_V4 then accept;
            reject;
        };
        export filter {
            if net ~ INTERNET then reject;
            if (source ~ [ RTS_STATIC, RTS_BGP ]) && (net ~ EXT_EXPORT_V4) then accept;
            reject;
        };
    };
    ipv6 {
        next hop self;
        import filter {
            if net ~ EXT_IMPORT_V6 then accept;
            reject;
        };
        export filter {
            if (source ~ [ RTS_STATIC, RTS_BGP ]) && (net ~ EXT_EXPORT_V6) then accept;
            reject;
        };
    };
}
{{end}}

{{range .links}}
{{if .is_external}}
protocol bgp 'ext_peer_{{.remote.name}}' from external_peer {
    local {{ .local.address }} as {{ if $.confed_as }}CONFED_AS{{ else }}SELF_AS{{ end }};
    {{if .remote.is_link_local}}
    neighbor {{ .remote.address }} % '{{ .local.interface }}' as {{ .remote_node.asn }};
    {{else}}
    neighbor {{ .remote.address }} as {{ .remote_node.asn }};
    {{end}}
}
{{else}}
protocol bgp 'easy42_peer_{{.remote.name}}' from easy42_peer {
    local {{ .local.address }} as SELF_AS;
    neighbor {{ .remote.address }} % '{{ .local.interface }}' as {{ .remote_node.asn }};
}
{{end}}
{{end}}
