define SELF_IP = {{ .ip }};
{{if .ip6}}
define SELF_IP6 = {{ .ip6 }};
{{end}}
define SELF_AS = {{ .asn }};
define TABLE = {{ .table }};
{{if .external_ip}}
define EXTERNAL_IP = {{ .external_ip }};
{{end}}
{{if .external_ip6}}
define EXTERNAL_IP6 = {{ .external_ip6 }};
{{end}}
{{if .use_external_table}}
define EXTERNAL_TABLE = {{ .external_table }};

ipv4 table ext_table4;
ipv6 table ext_table6;
{{end}}

define PRIVATE = [ 192.168.0.0/16+, 10.0.0.0/8+, 172.16.0.0/12+, 198.18.0.0/15+ ];
define PRIVATE6 = [ fd00::/8+ ];
define INTERNET = [ 0.0.0.0/0, 0.0.0.0/1, 128.0.0.0/1 ];
define INTERNET6 = [ ::/0, ::/1, 8000::/1 ];

{{if .confed_as}}
define CONFED_AS = {{ .confed_as }};
define COMM_EXTERNAL = (CONFED_AS, 1, 1);
{{else if .comm_external}}
define COMM_EXTERNAL = {{ .comm_external }};
{{else}}
define COMM_EXTERNAL = (4224420000, 1, 1);
{{end}}

define DEFAULT_LOCAL_PREF = 10000;

router id SELF_IP;

{{if .roa_policies}}
# ==============================================================================
# Route Origination Authorization (ROA) Tables & Protocol Static
# ==============================================================================
{{range .roa_policies}}
# ROA definitions for policy {{.name}} ({{.id}})
{{if .has_roa4}}roa4 table {{.table4}};{{end}}
{{if .has_roa6}}roa6 table {{.table6}};{{end}}

{{if .has_roa4}}
protocol static {{.proto4}} {
    roa4 { table {{.table4}}; };
    include "{{.file4}}";
}
{{end}}

{{if .has_roa6}}
protocol static {{.proto6}} {
    roa6 { table {{.table6}}; };
    include "{{.file6}}";
}
{{end}}

function {{.check_fn}}() {
    # Check IPv4 routes
    if net.type = NET_IP4 then {
        {{if .has_roa4}}
        if roa_check({{.table4}}, net, bgp_path.last) = ROA_VALID then return true;
        {{if not .roa_strict}}
        if roa_check({{.table4}}, net, bgp_path.last) = ROA_UNKNOWN then return true;
        {{end}}
        return false;
        {{else}}
        return true;
        {{end}}
    }
    # Check IPv6 routes
    else {
        {{if .has_roa6}}
        if roa_check({{.table6}}, net, bgp_path.last) = ROA_VALID then return true;
        {{if not .roa_strict}}
        if roa_check({{.table6}}, net, bgp_path.last) = ROA_UNKNOWN then return true;
        {{end}}
        return false;
        {{else}}
        return true;
        {{end}}
    }
}
{{end}}
{{end}}

protocol device {
    scan time 10;
}

protocol kernel kernel_v4 {
    ipv4 {
        export filter {
            # Force Linux to use this source IP
            krt_prefsrc = SELF_IP;
            {{if .use_external_table}}
            if (COMM_EXTERNAL ~ bgp_large_community) then reject;
            {{end}}
            if source ~ [ RTS_BGP ] then accept;
            reject;
        };
        import none;
    };
    kernel table TABLE;
}

{{if .use_external_table}}
protocol pipe pipe_ext_v4 {
    table master4;
    peer table ext_table4;
    import none;
    export filter {
        if (source ~ [ RTS_BGP ]) && (COMM_EXTERNAL ~ bgp_large_community) then accept;
        reject;
    };
}

protocol kernel kernel_ext_v4 {
    ipv4 {
        table ext_table4;
        export filter {
            krt_prefsrc = {{if .external_ip}}EXTERNAL_IP;{{else}}SELF_IP;{{end}}
            accept;
        };
        import none;
    };
    kernel table EXTERNAL_TABLE;
}
{{end}}

{{range .routes}}
protocol kernel kernel_{{ .table}} {
    learn;
    kernel table {{.table}};
    ipv4 {
        # implicitly uses table master4
        import filter {
            # sanity check: reject internet routes
            if net ~ INTERNET then reject;
            {{range .prefixes}}
            if net ~ {{.}} then accept;
            {{end}}
            reject;
        };
        export none;
    };
}
{{end}}

# easy42 network use ipv4 only but DN42 or other networks may export ipv6
protocol kernel kernel_v6 {
    ipv6 {
        export filter {
            {{if .ip6}}
            krt_prefsrc = {{ .ip6 }};
            {{end}}
            if net ~ INTERNET6 then reject;
            {{if .use_external_table}}
            if (COMM_EXTERNAL ~ bgp_large_community) then reject;
            {{end}}
            if source ~ [ RTS_BGP ] then accept;
            reject;
        };
        import none;
    };
    kernel table TABLE;
}

{{if .use_external_table}}
protocol pipe pipe_ext_v6 {
    table master6;
    peer table ext_table6;
    import none;
    export filter {
        if (source ~ [ RTS_BGP ]) && (COMM_EXTERNAL ~ bgp_large_community) then accept;
        reject;
    };
}

protocol kernel kernel_ext_v6 {
    ipv6 {
        table ext_table6;
        export filter {
            {{if .external_ip6}}
            krt_prefsrc = {{ .external_ip6 }};
            {{else if .ip6}}
            krt_prefsrc = {{ .ip6 }};
            {{end}}
            accept;
        };
        import none;
    };
    kernel table EXTERNAL_TABLE;
}
{{end}}

protocol static static_self {
    ipv4;
    route {{ .ip }}/32 reject;
    {{if .external_ip}}
    route {{ .external_ip }}/32 reject;
    {{end}}
}

{{if or .ip6 .external_ip6}}
protocol static static_self_v6 {
    ipv6;
    {{if .ip6}}
    route {{ .ip6 }}/128 reject;
    {{end}}
    {{if and .external_ip6 (ne .external_ip6 .ip6)}}
    route {{ .external_ip6 }}/128 reject;
    {{end}}
}
{{end}}

{{if .static_routes_v4}}
protocol static static_v4 {
    ipv4;
    {{range .static_routes_v4}}
    # reject is strictly local (kernel) only. It generates "unreachable" kernel routing table
    route {{.}} reject;
    {{end}}
}
{{end}}

{{if .static_routes_v6}}
protocol static static_v6 {
    ipv6;
    {{range .static_routes_v6}}
    # reject is strictly local (kernel) only. It generates "unreachable" kernel routing table
    route {{.}} reject;
    {{end}}
}
{{end}}

template bgp easy42_peer {
    # Required for link-local peering
    direct;

    {{if .confed_as}}
    confederation CONFED_AS;
    confederation member yes;
    default bgp_local_pref DEFAULT_LOCAL_PREF;
    {{end}}

    ipv4 {
        # This tells Bird to send IPv4 routes over the IPv6 session
        extended next hop on;
        next hop self;
        
        import filter {
            {{if $.has_default_roa}}if ! default_roa_check() then reject;{{end}}
            if net ~ INTERNET then reject;
            {{if .confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{if .default_cost}}{{.default_cost}}{{else}}100{{end}} then bgp_local_pref = bgp_local_pref - {{if .default_cost}}{{.default_cost}}{{else}}100{{end}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        }; 
        export filter {
            if net ~ INTERNET then reject;
            {{if .confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
    ipv6 {
        next hop self;
        import filter {
            {{if $.has_default_roa}}if ! default_roa_check() then reject;{{end}}
            if net ~ INTERNET6 then reject;
            {{if .confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{if .default_cost}}{{.default_cost}}{{else}}100{{end}} then bgp_local_pref = bgp_local_pref - {{if .default_cost}}{{.default_cost}}{{else}}100{{end}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        };
        export filter {
            if net ~ INTERNET6 then reject;
            {{if .confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
}

{{range .custom_default_templates}}
template bgp {{.template_name}} {
    direct;

    {{if $.confed_as}}
    confederation CONFED_AS;
    confederation member yes;
    default bgp_local_pref DEFAULT_LOCAL_PREF;
    {{end}}

    ipv4 {
        # This tells Bird to send IPv4 routes over the IPv6 session
        extended next hop on;
        next hop self;
        
        import filter {
            {{if $.has_default_roa}}if ! default_roa_check() then reject;{{end}}
            if net ~ INTERNET then reject;
            {{if $.confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        }; 
        export filter {
            if net ~ INTERNET then reject;
            {{if $.confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
    ipv6 {
        next hop self;
        import filter {
            {{if $.has_default_roa}}if ! default_roa_check() then reject;{{end}}
            if net ~ INTERNET6 then reject;
            {{if $.confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        };
        export filter {
            if net ~ INTERNET6 then reject;
            {{if $.confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
}
{{end}}


{{if .has_none_policy}}
template bgp none_peer {
    direct;

    {{if .confed_as}}
    confederation CONFED_AS;
    confederation member yes;
    default bgp_local_pref DEFAULT_LOCAL_PREF;
    {{end}}

    ipv4 {
        extended next hop on;
        next hop self;
        import filter {
            {{if .confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{if .none_cost}}{{.none_cost}}{{else}}100{{end}} then bgp_local_pref = bgp_local_pref - {{if .none_cost}}{{.none_cost}}{{else}}100{{end}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        };
        export filter {
            {{if .confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
    ipv6 {
        next hop self;
        import filter {
            {{if .confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{if .none_cost}}{{.none_cost}}{{else}}100{{end}} then bgp_local_pref = bgp_local_pref - {{if .none_cost}}{{.none_cost}}{{else}}100{{end}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        };
        export filter {
            {{if .confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
}
{{end}}

{{range .custom_none_templates}}
template bgp {{.template_name}} {
    direct;

    {{if $.confed_as}}
    confederation CONFED_AS;
    confederation member yes;
    default bgp_local_pref DEFAULT_LOCAL_PREF;
    {{end}}

    ipv4 {
        extended next hop on;
        next hop self;
        import filter {
            {{if $.confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        };
        export filter {
            {{if $.confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
    ipv6 {
        next hop self;
        import filter {
            {{if $.confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
            {{end}}
            accept;
        };
        export filter {
            {{if $.confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
        };
    };
}
{{end}}

{{if .has_external_links}}
define EXT_PREFIXES_V4 = {{ .ext_prefixes_v4 }};
define EXT_PREFIXES_V6 = {{ .ext_prefixes_v6 }};

template bgp external_peer {
    direct;

    {{if .confed_as}}
    confederation CONFED_AS;
    confederation member no;
    {{end}}

    ipv4 {
        extended next hop on;
        next hop self;
        import filter {
            {{if $.has_dn42_roa}}if ! dn42_roa_check() then reject;{{end}}
            if net ~ INTERNET then reject;
            if net ~ EXT_PREFIXES_V4 then {
              bgp_large_community.add(COMM_EXTERNAL);
              bgp_local_pref = DEFAULT_LOCAL_PREF;
              accept;
            }
            reject;
        };
        export filter {
            if net ~ INTERNET then reject;
            if (source ~ [ RTS_STATIC, RTS_BGP ]) && (net ~ EXT_PREFIXES_V4) then {
              bgp_large_community.delete(COMM_EXTERNAL);
              accept;
            }
            reject;
        };
    };
    ipv6 {
        next hop self;
        import filter {
            {{if $.has_dn42_roa}}if ! dn42_roa_check() then reject;{{end}}
            if net ~ INTERNET6 then reject;
            if net ~ EXT_PREFIXES_V6 then {
              bgp_large_community.add(COMM_EXTERNAL);
              bgp_local_pref = DEFAULT_LOCAL_PREF;
              accept;
            }
            reject;
        };
        export filter {
            if net ~ INTERNET6 then reject;
            if (source ~ [ RTS_STATIC, RTS_BGP ]) && (net ~ EXT_PREFIXES_V6) then {
              bgp_large_community.delete(COMM_EXTERNAL);
              accept;
            }
            reject;
        };
    };
}
{{end}}

{{range .custom_policy_prefixes}}
{{if .has_import_v4}}define POL_{{.id}}_IMPORT_V4 = {{.import_prefixes_v4}};{{end}}
{{if .has_import_v6}}define POL_{{.id}}_IMPORT_V6 = {{.import_prefixes_v6}};{{end}}
{{if .has_export_v4}}define POL_{{.id}}_EXPORT_V4 = {{.export_prefixes_v4}};{{end}}
{{if .has_export_v6}}define POL_{{.id}}_EXPORT_V6 = {{.export_prefixes_v6}};{{end}}
{{end}}

{{range .custom_bird_policies}}
template bgp {{.template_name}} {
    direct;

    {{if $.confed_as}}
    confederation CONFED_AS;
    confederation member yes;
    default bgp_local_pref DEFAULT_LOCAL_PREF;
    {{end}}

    ipv4 {
        extended next hop on;
        next hop self;
        import filter {
            {{if .has_roa}}if ! {{.roa_fn}}() then reject;{{end}}
            {{if .reject_internet}}if net ~ INTERNET then reject;{{end}}
            {{if .has_import_v4}}
            if net ~ POL_{{.id}}_IMPORT_V4 then {
                {{if $.confed_as}}
                # Prefer routes with fewer confederation hops / lower policy cost
                if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
                if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
                {{end}}
                accept;
            }
            reject;
            {{else}}
            {{if $.confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
            {{end}}
            accept;
            {{end}}
        };
        export filter {
            {{if .reject_internet}}if net ~ INTERNET then reject;{{end}}
            {{if .has_export_v4}}
            if (source ~ [ RTS_STATIC, RTS_BGP ]) && (net ~ POL_{{.id}}_EXPORT_V4) then {
                {{if $.confed_as}}
                if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
                {{end}}
                accept;
            }
            reject;
            {{else}}
            {{if $.confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
            {{end}}
        };
    };
    ipv6 {
        next hop self;
        import filter {
            {{if .has_roa}}if ! {{.roa_fn}}() then reject;{{end}}
            {{if .reject_internet}}if net ~ INTERNET6 then reject;{{end}}
            {{if .has_import_v6}}
            if net ~ POL_{{.id}}_IMPORT_V6 then {
                {{if $.confed_as}}
                # Prefer routes with fewer confederation hops / lower policy cost
                if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
                if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
                {{end}}
                accept;
            }
            reject;
            {{else}}
            {{if $.confed_as}}
            # Prefer routes with fewer confederation hops / lower policy cost
            if !defined(bgp_local_pref) || (bgp_local_pref = 100) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            if bgp_local_pref > {{.cost}} then bgp_local_pref = bgp_local_pref - {{.cost}}; else bgp_local_pref = 1;
            {{end}}
            accept;
            {{end}}
        };
        export filter {
            {{if .reject_internet}}if net ~ INTERNET6 then reject;{{end}}
            {{if .has_export_v6}}
            if (source ~ [ RTS_STATIC, RTS_BGP ]) && (net ~ POL_{{.id}}_EXPORT_V6) then {
                {{if $.confed_as}}
                if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
                {{end}}
                accept;
            }
            reject;
            {{else}}
            {{if $.confed_as}}
            if !defined(bgp_local_pref) then bgp_local_pref = DEFAULT_LOCAL_PREF;
            {{end}}
            accept;
            {{end}}
        };
    };
}
{{end}}

{{range .links}}
{{if .is_dn42}}
protocol bgp 'ext_peer_{{.remote.name}}' from external_peer {
    {{if .local.interface}}interface "{{ .local.interface }}";{{end}}
    local {{ .local.address }} as {{ if $.confed_as }}CONFED_AS{{ else }}SELF_AS{{ end }};
    {{if .remote.is_link_local}}
    neighbor {{ .remote.address }} % '{{ .local.interface }}' as {{ .remote_node.asn }};
    {{else}}
    neighbor {{ .remote.address }} as {{ .remote_node.asn }};
    {{end}}
}
{{else if eq .policy_id "default"}}
protocol bgp 'easy42_peer_{{.remote.name}}' from {{.bgp_template}} {
    {{if .local.interface}}interface "{{ .local.interface }}";{{end}}
    local {{ .local.address }} as SELF_AS;
    neighbor {{ .remote.address }} % '{{ .local.interface }}' as {{ .remote_node.asn }};
}
{{else}}
protocol bgp 'peer_{{.remote.name}}' from {{.bgp_template}} {
    {{if .local.interface}}interface "{{ .local.interface }}";{{end}}
    local {{ .local.address }} as {{ .local_as }};
    {{if .remote.is_link_local}}
    neighbor {{ .remote.address }} % '{{ .local.interface }}' as {{ .remote_node.asn }};
    {{else}}
    neighbor {{ .remote.address }} as {{ .remote_node.asn }};
    {{end}}
}
{{end}}
{{end}}

