#!/usr/sbin/nft -f

define easy42_ifname = { "wg42*" }
define external_ifname = { "wg42-*" }

define private_ip = { 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12 }
define private_ip6 = { fc00::/8, fd00::/8 }
{{- if .external_ip }}
define external_ip = {{ .external_ip }} # local node external ip
{{- end }}
{{- if .external_ip6 }}
define external_ip6 = {{ .external_ip6 }} # local node external ipv6
{{- end }}
define external_prefix = {{ .nft_prefixes_v4 }}
define external_prefix6 = {{ .nft_prefixes_v6 }}

destroy table inet easy42

# rules
table inet easy42 {
  set private_ip {
    type ipv4_addr
    flags interval
    elements = $private_ip
  }
  set private_ip6 {
    type ipv6_addr
    flags interval
    elements = $private_ip6
  }
  set easy42_ifname {
    type ifname
    flags interval
    elements = $easy42_ifname
  }
  set external_ifname {
    type ifname
    flags interval
    elements = $external_ifname
  }
  set external_prefix {
    type ipv4_addr
    flags interval
    elements = $external_prefix
  }
  set external_prefix6 {
    type ipv6_addr
    flags interval
    elements = $external_prefix6
  }
  chain filter_forward {
    type filter hook forward priority filter; policy accept;

    ct state established,related accept
    iifname @external_ifname ip saddr != @external_prefix drop
    iifname @external_ifname ip daddr != @external_prefix drop
    iifname @external_ifname ip6 saddr != @external_prefix6 drop
    iifname @external_ifname ip6 daddr != @external_prefix6 drop
  }
  chain filter_input {
    type filter hook input priority filter; policy accept;

    # Accept return traffic for connections your node initiated
    ct state established,related accept

    # dn42 related rules
    # Allow visiting certain ports. tcp/179 - bgp; udp/53 - dns;
    iifname @external_ifname meta l4proto tcp th dport { 179 } accept
    iifname @external_ifname meta l4proto udp th dport { 53 } accept
    # Allow ICMP (1) / ICMP6 (58)
    iifname @external_ifname meta l4proto { icmp, ipv6-icmp } accept
    # Drop all other traffic targeting the host itself from DN42 (e.g., SSH)
    iifname @external_ifname counter drop
  }
  chain mangle_postrouting {
    type filter hook postrouting priority mangle; policy accept;
    tcp flags syn tcp option maxseg size set rt mtu
  }
  chain nat_postrouting {
    type nat hook postrouting priority srcnat; policy accept;
{{- if .external_ip }}
    ip saddr != @external_prefix oifname @external_ifname meta nfproto ipv4 snat to $external_ip
{{- end }}
{{- if .external_ip6 }}
    ip6 saddr != @external_prefix6 oifname @external_ifname meta nfproto ipv6 snat to $external_ip6
{{- end }}
    ip daddr @private_ip oifname @easy42_ifname accept
    ip6 daddr @private_ip6 oifname @easy42_ifname accept
  }
}
